<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,200italic,400italic' rel='stylesheet' type='text/css'>

  	<title>The Domino Experiment</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
</head>

<body>

	<header>

	<div class="navbar navbar-fixed-top navbar-inverse">

		<div class="navbar-inner">
			<ul class="nav pull-left">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", welcome_about_path %></li>
				<li><%= link_to "Contact", welcome_contact_path %></li>	
			</ul>	
			
		</div>
	</div>

	</header>

<%= yield %>





</body>
</html>
